{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 bg-white border p-3" style="margin: 200px 0px">
            <h4 class=" m-2 text-dark text-center">login</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <h5 class="lead m-2 text-dark text-center">username</h5>
                <input name="username" class="form-control" type="text" placeholder="username">
                <h5 class="lead m-2 text-dark text-center">password</h5>
                <input name="password" class="form-control" type="password" placeholder="password">
                <br>
                <button type="submit" class="btn bg-light border w-100">login</button>
            </form>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}

        </div>
            {% if request.user.is_authenticated %}
                <h4 class="m-3 text-dark text-center"> you are already logged in</h4>
            {% endif %}
            <h5 class="lead m-2 text-dark text-center"><a href="/" class="m-2"> back to index </a></h5>
    </div>
</div>

{% endblock  %}